<div class="calendar-container">
    <div class="date">
        <h2 class="calendar-title">26 Septiembre</h2>
    </div>
    <div class="content">
        <div class="column-hour">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </div>
        <div class="column-events">
            <div>evento 1</div>
            <div>evento 2</div>
            <div>evento 3</div>
            <div>evento 1</div>
            <div>evento 2</div>
            <div>evento 3</div>
            <div>evento 1</div>
            <div>evento 2</div>
            <div>evento 3</div>
            <div>evento 1</div>
            <div>evento 2</div>
            <div>evento 3</div>
            <div>evento 3</div>
        </div>
    </div>
</div>
